Source: ssh-tunnel-proxy
Section: net
Priority: optional
Maintainer: Stefan Sundin <stefan@stefansundin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.4.0
Homepage: https://github.com/stefansundin/ssh-tunnel-proxy

Package: ssh-tunnel-proxy
Architecture: all
Depends: ruby, ruby-net-ssh
Description: Proxy that automatically opens SSH tunnels when connections are received.
