#!/usr/bin/make -f

%:
	dh $@

build:
	mkdir -p debian/ssh-tunnel-proxy/usr/bin/
	install -m 755 ssh-tunnel-proxy/ssh-tunnel-proxy.rb debian/ssh-tunnel-proxy/usr/bin/ssh-tunnel-proxy

build-indep:
	mkdir -p debian/ssh-tunnel-proxy/usr/bin/
	install -m 755 ssh-tunnel-proxy/ssh-tunnel-proxy.rb debian/ssh-tunnel-proxy/usr/bin/ssh-tunnel-proxy
